# Django基本設定
SECRET_KEY=
DEBUG=True

# データベース設定
POSTGRES_DB=gfdash_db
POSTGRES_USER=dash_admin
POSTGRES_PASSWORD=
DB_HOST=db
DB_PORT=5432

# --- スーパーユーザー自動作成用の設定 ---
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=